<div class="contenido-tabla">
    <div class="fila">
        <div class="col">{{nombre}}</div>
        <div class="col">{{partidosJugados}}</div>
        <div class="col">{{partidosGanados}}</div>
        <div class="col">{{partidosEmpatados}}</div>
        <div class="col">{{golesFavor}}</div>
        <div class="col">{{golesContra}}</div>
        <div class="col">{{posicion}}</div>
    </div>
</div>
